@model IEnumerable<CovidOutApp.Web.ViewModels.VenueVisitViewModel>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pending Check Out</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
              @Html.ActionLink("Check Out", "CheckOut", new {venueId = item.VenueId}, new {@class = "btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
