@model IEnumerable<CovidOutApp.Web.ViewModels.VenueViewModel>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        string rowClassName = "";
        if (item.IsApproved == false){
            rowClassName = "table-warning";
        }
        <tr class="@rowClassName">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Images" asp-route-id="@item.Id">Images</a> |
                <a asp-action="QRCode" asp-route-id="@item.Id">QRCode</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="VisitorManagement" asp-action="Index" asp-route-id="@item.Id">Live DashBoard</a>
                @if (item.IsApproved == null) {
                    <span>|</span>
                    @Html.ActionLink("Register","Create","VenueRegistrationApplication",new {venueId = item.Id})   
                }
               
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
